FPGA/db/*
FPGA/greybox_tmp/*
FPGA/incremental_db/*
Filters/Iowa*
Filters/WinFilter.exe
STM32/MDK-ARM/UA3REO/UA3REO.build_log.htm
STM32/MDK-ARM/UA3REO/UA3REO.htm
*.o
*.bak
*.d
*.smsg
*.rpt
*.crf
*._2i
*.summary
